html {
  background-color: #25274D;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #AAABBB;
}

h1, h2 {
  background-color: #29648A;
}

h1 {
  font-size: 48px;
}

footer {
  background-color: #2E9CCA;
}
